

a {
  text-decoration: none;
  color: inherit;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.nav-list-item:hover {
  -webkit-animation: bounce 1s;
  animation: pulse 1s;;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.hamburger-button {
  color: white !important;
}

.no-account {
  text-align: center;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
