a {
  text-decoration: none;
  color: inherit;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.nav-list-item:hover {
  -webkit-animation: bounce 1s;
  animation: pulse 1s;;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.paper {
  text-align: center;
}

.avatar {
  display: flex;
  flex-direction: column;
  margin:  auto;
  background-color: #e81d1d !important;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 100%;
}

.signup-button {
  background-color: rgb(255, 166, 0) !important;
  color: rgb(255, 255, 255) !important;

}

#id-submit-button {
  background-color: orange !important;
  color: white !important;
}

.hamburger-button {
  color: white !important;
}

.no-account {
  text-align: center;
}