a {
  text-decoration: none;
  color: inherit;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
  font-size: 16px !important;
}

.nav-list-item:hover {
  -webkit-animation: bounce 1s;
  animation: pulse 1s;;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.login-header {
  text-align: center;
}

.avatar {
  display: flex;
  flex-direction: column;
  margin:  auto;
  background-color: #e81d1d !important;
}

.hamburger-button {
  color: white !important;
}

.forgot-password, .no-password {
  font-size: 13px;
}